docker
.git
.github
.pytest_cache
.ruff_cache
**/.vscode
htmlcov
work
.coverage
.coveragerc
LICENSE
.gitignore
readme.md
run.bat

client/node_modules/
client/dist
client/.vscode
client/.eslintrc.cjs
client/.gitignore
client/.prettierrc.json
client/env.d.ts

server/__pycache__
server/.pytest_cache
server/.ruff_cache
server/tests
server/env
server/.gitignore